@import "../common/variables";
@import "../common/mixins";
@import "../common/common_lib";

html {
  font-size: 18px;
}

body {
  font-family: $defaultFont;
  max-width: 400px;
  width: 400px;
}

input {
  font-family: $defaultFont;
}

#ease-extension-anchor {
  @include display-flex();
  @include flex-direction(column);
  font-family: $defaultFont;
}

#login_view {
  padding: 20px;
  color:$themeColor;
  text-align: center;
  a {
    color: $themeColor;
    text-decoration: underline;
  }
}

.content_div {
  padding: 15px 7px;
  color: $themeColor;
  text-align: center;
  font-size: .7rem;
  a {
    color: $themeColor;
  }
}

#header {
  @include display-flex();
  padding: 7px 15px;
  background-color: $themeColor;
  color: white;
}

.password_generator_popup {
  background-color: $themeGreenColor !important;
  color: white !important;
  &:before {
    background-color: $themeGreenColor !important;
  }
}

#strong_password_generator {
  padding: 15px;
  color: $themeColor;
  text-align: center;
  font-size: .7rem;
  .renew {
    float: right;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    background-color: #e8ecf1;
  }
}

#dashboard_button {
  white-space: nowrap;
  cursor: pointer;
  color: white;
}


#popup_body {
  margin-left: 0 !important;
  margin-right: 0 !important;
  .app {
    padding: 14px 15px;
    color: $themeBlue2Color;
    border-bottom: 1px solid #e8ecf1;
    background-color: white;
    transition: background-color .1s;
    &:hover {
      background-color: #e8ecf1;
    }
  }
}

#popup_body {
  .copy_input {
    .copied_helper {
      position: absolute;
      left: 0;
      right:0;
      bottom:0;
      top:0;
      font-size: .7rem;
      font-weight: bold;
      color: white;
      background-color: $themeGreenColor;
      border-radius: .28571429rem;
      text-align: center;
      padding: 5px 0;
    }
    button.button {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: .7rem;
      .icon {
        margin-left: 5px !important;
      }
    }
    input {
      border-color: $themeGreenColor;
      color: $themeBlue2Color;
      padding: 5px 10px;
      font-size: .7rem;
      width: 113px;
    }
  }
}

.app.logwith {
  .logwith_label {
    color: white;
    border-radius: 5px;
    padding: 4px;
  }
}

.app.classic, .app.logwith {
  span {
    padding-right: 5px;
  }
  .button {
    padding: 5px 10px;
    margin: 0;
  }
}

.app.any {
  .copy_inputs_list {
    @include display-flex();
    @include flex-direction(column);
    @include align-items(flex-end);
    padding: 0;
  }
}