@import "../common/variables";
@import "../common/mixins";
@import "../common/common_lib";

#new_ease_extension {
  all: initial !important;
  z-index: 2140000000 !important;
  font-family: $defaultFont;
  .spacer {
    @include flex-grow(1);
  }
  .ease-progress-bar {
    position: relative;
    border-radius: 4px;
    height: 5px;
    background-color: #949eb7;
    width: 100%;
    .ease-progress-bar-filler {
      position: absolute;
      left:0;
      top: 0;
      bottom: 0;
      border-radius: 4px;
      background-color: $themeColor;
      transition: width .2s;
    }
  }
  .connection_modal {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 2140000000;
    background-color: rgba(white, .3);
    .content-box {
      @include display-flex();
      @include flex-direction(column);
      @include align-items(center);
      position: relative;
      border-radius: 8px;
      border: 1px solid $themeLightGreyColor;
      background-color: white;
      box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.15);
      width: 35vh;
      min-height: 35vh;
      height: auto;
      padding: 5.8vh 3.5vh 4.1vh 3.5vh;
      .ease-progress-bar {
        @include flex-shrink(0);
      }
      .close_button {
        font-size: 3vh;
        position: absolute;
        right: 1.2vh;
        top: 1vh;
        color: $themeLightBlueColor;
        cursor: pointer;
        opacity: .8;
        &:hover {
          opacity: 1;
        }
      }
      .logo_handler {
        width:20vh;
      }
      .text {
        margin-top: 2.3vh;
        width: 100%;
        text-align: center;
        font-size: 2vh;
        color:$themeColor;
        &.first_connection {
          color: $themeGreenColor;
        }
      }
    }
  }
  #chrome_scrapping_overlay {
    color: $themeColor;
    .content-box {
      padding: 3.5vh;
    }
    .loader {
      border: 1vh solid #f0f0f0;
      border-top: 1vh solid #373b60;
      border-radius: 50%;
      width: 6vh;
      height: 6vh;
      animation: spinEase 1s linear infinite;
    }
  }
}

.savedUpdate {
  color: $themeBlue2Color;
  padding: 10px;
  box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 10px;
  border-radius: 5px;
  background: white;
  position: relative;
  .close {
    position: absolute;
    right: 5px;
    top:5px;
  }
  .img_holder {
    margin-right: 10px;
    img {
      width: 60px;
      height: 60px;
      border-radius: 5px;
    }
  }
  .savedUpdateContent {
    width: 261px;
    a {
      float: right;
      text-decoration: underline;
      cursor: pointer;
    }
    h5 {
      color: $themeDarkGrayTextColor;
      font-size: 14px;
    }
    .link {
      color: $themeDarkGrayTextColor;
      @include display-flex();
      @include align-items(center);
      @include justify-content(flex-end);
      a {
        color: $themeDarkGrayTextColor;
      }
      i {
        margin:0;
        height: auto;
      }
    }
    & > * {
      font-size: 12px;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@keyframes spinEase {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ease-slide-left-appear {
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  transition: transform .3s;
}

.ease-slide-left-appear.ease-slide-left-appear-active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

